<!-- Fragment : options du select Nationalité (gentilés : ressortissant du pays = Camerounais(e), etc.) -->
<th:block th:fragment="nationaliteOptions">
  <option value="">Sélectionner une nationalité</option>
  <option value="Afghan(e)">Afghan(e)</option>
  <option value="Sud-Africain(e)">Sud-Africain(e)</option>
  <option value="Albanais(e)">Albanais(e)</option>
  <option value="Algérien(ne)">Algérien(ne)</option>
  <option value="Allemand(e)">Allemand(e)</option>
  <option value="Andorran(e)">Andorran(e)</option>
  <option value="Angolais(e)">Angolais(e)</option>
  <option value="Antiguayen(ne)">Antiguayen(ne)</option>
  <option value="Saoudien(ne)">Saoudien(ne)</option>
  <option value="Argentin(e)">Argentin(e)</option>
  <option value="Arménien(ne)">Arménien(ne)</option>
  <option value="Australien(ne)">Australien(ne)</option>
  <option value="Autrichien(ne)">Autrichien(ne)</option>
  <option value="Azerbaïdjanais(e)">Azerbaïdjanais(e)</option>
  <option value="Bahaméen(ne)">Bahaméen(ne)</option>
  <option value="Bahreïni(e)">Bahreïni(e)</option>
  <option value="Bangladais(e)">Bangladais(e)</option>
  <option value="Barbadien(ne)">Barbadien(ne)</option>
  <option value="Belge">Belge</option>
  <option value="Bélizien(ne)">Bélizien(ne)</option>
  <option value="Béninois(e)">Béninois(e)</option>
  <option value="Bhoutanais(e)">Bhoutanais(e)</option>
  <option value="Biélorusse">Biélorusse</option>
  <option value="Birman(e)">Birman(e)</option>
  <option value="Bolivien(ne)">Bolivien(ne)</option>
  <option value="Bosnien(ne)">Bosnien(ne)</option>
  <option value="Botswanéen(ne)">Botswanéen(ne)</option>
  <option value="Brésilien(ne)">Brésilien(ne)</option>
  <option value="Brunéien(ne)">Brunéien(ne)</option>
  <option value="Bulgare">Bulgare</option>
  <option value="Burkinabè">Burkinabè</option>
  <option value="Burundais(e)">Burundais(e)</option>
  <option value="Cambodgien(ne)">Cambodgien(ne)</option>
  <option value="Camerounais(e)">Camerounais(e)</option>
  <option value="Canadien(ne)">Canadien(ne)</option>
  <option value="Cap-verdien(ne)">Cap-verdien(ne)</option>
  <option value="Centrafricain(e)">Centrafricain(e)</option>
  <option value="Chilien(ne)">Chilien(ne)</option>
  <option value="Chinois(e)">Chinois(e)</option>
  <option value="Chypriote">Chypriote</option>
  <option value="Colombien(ne)">Colombien(ne)</option>
  <option value="Comorien(ne)">Comorien(ne)</option>
  <option value="Congolais(e)">Congolais(e)</option>
  <option value="Congolais(e) (RDC)">Congolais(e) (RDC)</option>
  <option value="Nord-Coréen(ne)">Nord-Coréen(ne)</option>
  <option value="Sud-Coréen(ne)">Sud-Coréen(ne)</option>
  <option value="Costaricien(ne)">Costaricien(ne)</option>
  <option value="Ivoirien(ne)">Ivoirien(ne)</option>
  <option value="Croate">Croate</option>
  <option value="Cubain(e)">Cubain(e)</option>
  <option value="Danois(e)">Danois(e)</option>
  <option value="Djiboutien(ne)">Djiboutien(ne)</option>
  <option value="Dominiquais(e)">Dominiquais(e)</option>
  <option value="Égyptien(ne)">Égyptien(ne)</option>
  <option value="Émirien(ne)">Émirien(ne)</option>
  <option value="Équatorien(ne)">Équatorien(ne)</option>
  <option value="Érythréen(ne)">Érythréen(ne)</option>
  <option value="Espagnol(e)">Espagnol(e)</option>
  <option value="Estonien(ne)">Estonien(ne)</option>
  <option value="Eswatinien(ne)">Eswatinien(ne)</option>
  <option value="Américain(e)">Américain(e)</option>
  <option value="Éthiopien(ne)">Éthiopien(ne)</option>
  <option value="Fidjien(ne)">Fidjien(ne)</option>
  <option value="Finlandais(e)">Finlandais(e)</option>
  <option value="Français(e)">Français(e)</option>
  <option value="Gabonais(e)">Gabonais(e)</option>
  <option value="Gambien(ne)">Gambien(ne)</option>
  <option value="Géorgien(ne)">Géorgien(ne)</option>
  <option value="Ghanéen(ne)">Ghanéen(ne)</option>
  <option value="Grec(que)">Grec(que)</option>
  <option value="Grenadin(e)">Grenadin(e)</option>
  <option value="Guatémaltèque">Guatémaltèque</option>
  <option value="Guinéen(ne)">Guinéen(ne)</option>
  <option value="Bissau-Guinéen(ne)">Bissau-Guinéen(ne)</option>
  <option value="Équato-Guinéen(ne)">Équato-Guinéen(ne)</option>
  <option value="Guyanien(ne)">Guyanien(ne)</option>
  <option value="Haïtien(ne)">Haïtien(ne)</option>
  <option value="Hondurien(ne)">Hondurien(ne)</option>
  <option value="Hongrois(e)">Hongrois(e)</option>
  <option value="Cook-Islandais(e)">Cook-Islandais(e)</option>
  <option value="Marshallais(e)">Marshallais(e)</option>
  <option value="Salomonais(e)">Salomonais(e)</option>
  <option value="Indien(ne)">Indien(ne)</option>
  <option value="Indonésien(ne)">Indonésien(ne)</option>
  <option value="Irakien(ne)">Irakien(ne)</option>
  <option value="Iranien(ne)">Iranien(ne)</option>
  <option value="Irlandais(e)">Irlandais(e)</option>
  <option value="Islandais(e)">Islandais(e)</option>
  <option value="Israélien(ne)">Israélien(ne)</option>
  <option value="Italien(ne)">Italien(ne)</option>
  <option value="Jamaïcain(e)">Jamaïcain(e)</option>
  <option value="Japonais(e)">Japonais(e)</option>
  <option value="Jordanien(ne)">Jordanien(ne)</option>
  <option value="Kazakhstanais(e)">Kazakhstanais(e)</option>
  <option value="Kényan(e)">Kényan(e)</option>
  <option value="Kirghize">Kirghize</option>
  <option value="Kiribatien(ne)">Kiribatien(ne)</option>
  <option value="Kosovar(e)">Kosovar(e)</option>
  <option value="Koweïtien(ne)">Koweïtien(ne)</option>
  <option value="Laotien(ne)">Laotien(ne)</option>
  <option value="Basotho">Basotho</option>
  <option value="Letton(ne)">Letton(ne)</option>
  <option value="Libanais(e)">Libanais(e)</option>
  <option value="Libérien(ne)">Libérien(ne)</option>
  <option value="Libyen(ne)">Libyen(ne)</option>
  <option value="Liechtensteinois(e)">Liechtensteinois(e)</option>
  <option value="Lituanien(ne)">Lituanien(ne)</option>
  <option value="Luxembourgeois(e)">Luxembourgeois(e)</option>
  <option value="Macédonien(ne)">Macédonien(ne)</option>
  <option value="Malgache">Malgache</option>
  <option value="Malaisien(ne)">Malaisien(ne)</option>
  <option value="Malawite">Malawite</option>
  <option value="Maldivien(ne)">Maldivien(ne)</option>
  <option value="Malien(ne)">Malien(ne)</option>
  <option value="Maltais(e)">Maltais(e)</option>
  <option value="Marocain(e)">Marocain(e)</option>
  <option value="Mauricien(ne)">Mauricien(ne)</option>
  <option value="Mauritanien(ne)">Mauritanien(ne)</option>
  <option value="Mexicain(e)">Mexicain(e)</option>
  <option value="Micronésien(ne)">Micronésien(ne)</option>
  <option value="Moldave">Moldave</option>
  <option value="Monégasque">Monégasque</option>
  <option value="Mongol(e)">Mongol(e)</option>
  <option value="Monténégrin(e)">Monténégrin(e)</option>
  <option value="Mozambicain(e)">Mozambicain(e)</option>
  <option value="Namibien(ne)">Namibien(ne)</option>
  <option value="Nauruan(e)">Nauruan(e)</option>
  <option value="Népalais(e)">Népalais(e)</option>
  <option value="Nicaraguayen(ne)">Nicaraguayen(ne)</option>
  <option value="Nigérien(ne)">Nigérien(ne)</option>
  <option value="Nigerian(e)">Nigerian(e)</option>
  <option value="Niuéen(ne)">Niuéen(ne)</option>
  <option value="Norvégien(ne)">Norvégien(ne)</option>
  <option value="Néo-Zélandais(e)">Néo-Zélandais(e)</option>
  <option value="Omani(e)">Omani(e)</option>
  <option value="Ougandais(e)">Ougandais(e)</option>
  <option value="Ouzbek">Ouzbek</option>
  <option value="Pakistanais(e)">Pakistanais(e)</option>
  <option value="Paluan(e)">Paluan(e)</option>
  <option value="Palestinien(ne)">Palestinien(ne)</option>
  <option value="Panaméen(ne)">Panaméen(ne)</option>
  <option value="Papouan-Néo-Guinéen(ne)">Papouan-Néo-Guinéen(ne)</option>
  <option value="Paraguayen(ne)">Paraguayen(ne)</option>
  <option value="Néerlandais(e)">Néerlandais(e)</option>
  <option value="Péruvien(ne)">Péruvien(ne)</option>
  <option value="Philippin(e)">Philippin(e)</option>
  <option value="Polonais(e)">Polonais(e)</option>
  <option value="Portugais(e)">Portugais(e)</option>
  <option value="Qatari(e)">Qatari(e)</option>
  <option value="Dominicain(e)">Dominicain(e)</option>
  <option value="Tchèque">Tchèque</option>
  <option value="Roumain(e)">Roumain(e)</option>
  <option value="Britannique">Britannique</option>
  <option value="Russe">Russe</option>
  <option value="Rwandais(e)">Rwandais(e)</option>
  <option value="Kittitien(ne)-Névicien(ne)">Kittitien(ne)-Névicien(ne)</option>
  <option value="Saint-Lucien(ne)">Saint-Lucien(ne)</option>
  <option value="Saint-Marinais(e)">Saint-Marinais(e)</option>
  <option value="Vatican(e)">Vatican(e)</option>
  <option value="Vincentais(e)">Vincentais(e)</option>
  <option value="Salvadorien(ne)">Salvadorien(ne)</option>
  <option value="Samoan(e)">Samoan(e)</option>
  <option value="São-toméen(ne)">São-toméen(ne)</option>
  <option value="Sénégalais(e)">Sénégalais(e)</option>
  <option value="Serbe">Serbe</option>
  <option value="Seychellois(e)">Seychellois(e)</option>
  <option value="Sierra-Léonais(e)">Sierra-Léonais(e)</option>
  <option value="Singapourien(ne)">Singapourien(ne)</option>
  <option value="Slovaque">Slovaque</option>
  <option value="Slovène">Slovène</option>
  <option value="Somalien(ne)">Somalien(ne)</option>
  <option value="Soudanais(e)">Soudanais(e)</option>
  <option value="Sud-Soudanais(e)">Sud-Soudanais(e)</option>
  <option value="Sri-Lankais(e)">Sri-Lankais(e)</option>
  <option value="Suédois(e)">Suédois(e)</option>
  <option value="Suisse">Suisse</option>
  <option value="Surinamais(e)">Surinamais(e)</option>
  <option value="Sahraoui(e)">Sahraoui(e)</option>
  <option value="Syrien(ne)">Syrien(ne)</option>
  <option value="Taïwanais(e)">Taïwanais(e)</option>
  <option value="Tadjike">Tadjike</option>
  <option value="Tanzanien(ne)">Tanzanien(ne)</option>
  <option value="Tchadien(ne)">Tchadien(ne)</option>
  <option value="Thaïlandais(e)">Thaïlandais(e)</option>
  <option value="Timorais(e)">Timorais(e)</option>
  <option value="Togolais(e)">Togolais(e)</option>
  <option value="Tonguien(ne)">Tonguien(ne)</option>
  <option value="Trinidadien(ne)">Trinidadien(ne)</option>
  <option value="Tunisien(ne)">Tunisien(ne)</option>
  <option value="Turkmène">Turkmène</option>
  <option value="Turc(que)">Turc(que)</option>
  <option value="Tuvaluan(e)">Tuvaluan(e)</option>
  <option value="Ukrainien(ne)">Ukrainien(ne)</option>
  <option value="Uruguayen(ne)">Uruguayen(ne)</option>
  <option value="Vanuatais(e)">Vanuatais(e)</option>
  <option value="Vénézuélien(ne)">Vénézuélien(ne)</option>
  <option value="Vietnamien(ne)">Vietnamien(ne)</option>
  <option value="Yéménite">Yéménite</option>
  <option value="Zambien(ne)">Zambien(ne)</option>
  <option value="Zimbabwéen(ne)">Zimbabwéen(ne)</option>
</th:block>
